body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: darkcyan;
    color:white;
    font-family: Tahoma;
    font-size: 12px;
  }

h1{
    text-align: center;
}

button {
    background-color: indigo;
    color: darkturquoise;
    margin-left: 5px;
    border-radius: 5px;
}

button:hover {
    background-color: darkturquoise;
    color: indigo;
    margin-left: 5px;
    border-radius: 5px;
}

hr {
    background-color: white;
    width: 80%;
}

#section_deseo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

#section_lista{
    display: flex;
    justify-content: center;
    align-items: center;
}


#deseos_nuevos, #deseos_cumplidos{
    width: 48%;
    padding: 20px 100px;
    box-sizing: border-box;
    
    
}

#deseos_nuevos{
    border-right: 2px solid #ccc;
}

